<h3>Click if you want vote user </h3>



<%if @user_order.active || @user_product.active %>
  <% if @user_order.id != current_user.id %>
    <%= link_to "Vote", new_vote_path(@user_order)%>
  <% else %>
    <%= link_to "Vote", new_vote_path(@user_product)%>
  <% end %>
<% end %>