nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to image_tag('logo.png'), root_path
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.pull-right
        .navbar-form.navbar-left
          .ui-widget
            input#titles.form-control placeholder="Search..." /
        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
            | Products
            span.caret
          ul.dropdown-menu
            li
              a href="#"  Filter
            li
              a href="#"  Top
            li.divider role="separator" 
            li
              = link_to "New", new_product_path 

        - if user_signed_in?
          li
            = link_to user_path(current_user) do
              | Profile  
              = image_tag(current_user.avatar.url(:thumb), class: "hodor")
          li
            = link_to mailbox_inbox_path do
              .notify
                span.label.label-success.pull-right= unread_messages_count
                em.fa.fa-envelope.fa-lg
                |  
          li
            = link_to destroy_user_session_path, method: :delete do
              | Logout  
              em.fa.fa-sign-out.fa-lg
        - else
          li.active= link_to "Login", new_user_session_path
          li= link_to "Sign up", new_user_registration_path

